In [1]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_pv=pd.read_csv("./pv_history.csv",sep=";") #read pv_history
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity
0,19000,8,2023-09-14 06:40:15,3.11,3.37,1.1
1,19001,9,2023-09-14 06:40:15,3.19,3.56,1.2
2,19002,10,2023-09-14 06:40:15,2.81,3.27,1.0
3,19003,6,2023-09-14 06:50:15,7.53,7.77,1.8
4,19004,7,2023-09-14 06:50:15,7.67,7.89,2.0
...,...,...,...,...,...,...
31278,50278,6,2024-02-22 16:05:00,2.72,3.03,66.7
31279,50279,7,2024-02-22 16:05:00,3.21,3.41,67.0
31280,50280,8,2024-02-22 16:05:00,3.27,3.55,66.0
31281,50281,9,2024-02-22 16:05:00,2.86,3.26,70.0
31282,50282,10,2024-02-22 16:05:00,2.74,3.02,67.8

In [4]:
df_pv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31283 entries, 0 to 31282
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               31283 non-null  int64
 1   device_id        31283 non-null  int64
 2   gather_time      31283 non-null  object
 3   active_power     31283 non-null  float64
 4   direct_power     31283 non-null  float64
 5   charge_capacity  31283 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.4+ MB

In [5]:
df_pv['date_time'] = pd.to_datetime(df_pv['gather_time']).dt.floor('min')
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time
0,19000,8,2023-09-14 06:40:15,3.11,3.37,1.1,2023-09-14 06:40:00
1,19001,9,2023-09-14 06:40:15,3.19,3.56,1.2,2023-09-14 06:40:00
2,19002,10,2023-09-14 06:40:15,2.81,3.27,1.0,2023-09-14 06:40:00
3,19003,6,2023-09-14 06:50:15,7.53,7.77,1.8,2023-09-14 06:50:00
4,19004,7,2023-09-14 06:50:15,7.67,7.89,2.0,2023-09-14 06:50:00
...,...,...,...,...,...,...,...
31278,50278,6,2024-02-22 16:05:00,2.72,3.03,66.7,2024-02-22 16:05:00
31279,50279,7,2024-02-22 16:05:00,3.21,3.41,67.0,2024-02-22 16:05:00
31280,50280,8,2024-02-22 16:05:00,3.27,3.55,66.0,2024-02-22 16:05:00
31281,50281,9,2024-02-22 16:05:00,2.86,3.26,70.0,2024-02-22 16:05:00
31282,50282,10,2024-02-22 16:05:00,2.74,3.02,67.8,2024-02-22 16:05:00

In [6]:
def adjust_minutes(dt):
    if dt.minute < 10:
        return dt.replace(minute=0)
    else:
        return dt

df_pv['date_time'] = df_pv['date_time'].apply(adjust_minutes)
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time
0,19000,8,2023-09-14 06:40:15,3.11,3.37,1.1,2023-09-14 06:40:00
1,19001,9,2023-09-14 06:40:15,3.19,3.56,1.2,2023-09-14 06:40:00
2,19002,10,2023-09-14 06:40:15,2.81,3.27,1.0,2023-09-14 06:40:00
3,19003,6,2023-09-14 06:50:15,7.53,7.77,1.8,2023-09-14 06:50:00
4,19004,7,2023-09-14 06:50:15,7.67,7.89,2.0,2023-09-14 06:50:00
...,...,...,...,...,...,...,...
31278,50278,6,2024-02-22 16:05:00,2.72,3.03,66.7,2024-02-22 16:00:00
31279,50279,7,2024-02-22 16:05:00,3.21,3.41,67.0,2024-02-22 16:00:00
31280,50280,8,2024-02-22 16:05:00,3.27,3.55,66.0,2024-02-22 16:00:00
31281,50281,9,2024-02-22 16:05:00,2.86,3.26,70.0,2024-02-22 16:00:00
31282,50282,10,2024-02-22 16:05:00,2.74,3.02,67.8,2024-02-22 16:00:00

In [7]:
df_pv.to_csv('data/df_pv_add_dt.csv')

In [8]:
df_pv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31283 entries, 0 to 31282
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               31283 non-null  int64
 1   device_id        31283 non-null  int64
 2   gather_time      31283 non-null  object
 3   active_power     31283 non-null  float64
 4   direct_power     31283 non-null  float64
 5   charge_capacity  31283 non-null  float64
 6   date_time        31283 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 1.7+ MB

In [10]:
device_counts = df_pv['device_id'].value_counts()
device_counts

device_id
6     798
7     798
8     798
9     798
10    798
Name: count, dtype: int64

In [11]:
specific_times = [pd.Timestamp('today').
                  replace(hour=h, minute=0, second=0, microsecond=0).time() for h in [2, 5, 8, 11, 14, 17, 20, 23]]
df_pv = df_pv[df_pv['date_time'].dt.time.isin(specific_times)]
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00
39,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00
40,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00
41,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00
42,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00
...,...,...,...,...,...,...,...
31268,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00
31269,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00
31270,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00
31271,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00
31272,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00

In [13]:
expected_sequence = [6, 7, 8, 9, 10]
pattern_index = pd.Series(range(len(df_pv))).mod(len(expected_sequence))
matches_sequence = (df_pv['device_id'].reset_index(drop=True).values == pd.Series(expected_sequence)[pattern_index].values).all()

matches_sequence

True

In [14]:
df_pv = df_pv.copy()
df_pv['difference'] = df_pv['date_time'] - df_pv['date_time'].shift(5)
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
39,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
40,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
41,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
42,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
31268,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
31269,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
31270,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
31271,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
31272,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [15]:
df_pv[df_pv['difference'] != pd.Timedelta('0 days 03:00:00')]

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
39,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
40,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
41,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
42,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
24678,43678,6,2023-12-29 14:05:00,48.41,49.02,296.6,2023-12-29 14:00:00,0 days 06:00:00
24679,43679,7,2023-12-29 14:05:00,48.76,49.37,299.5,2023-12-29 14:00:00,0 days 06:00:00
24680,43680,8,2023-12-29 14:05:00,44.19,44.86,300.1,2023-12-29 14:00:00,0 days 06:00:00
24681,43681,9,2023-12-29 14:05:00,56.75,57.58,364.4,2023-12-29 14:00:00,0 days 06:00:00
24682,43682,10,2023-12-29 14:05:00,44.70,45.27,256.3,2023-12-29 14:00:00,0 days 06:00:00

In [17]:
df_pv.to_csv('data/df_difference.csv')

In [18]:
df_pv = df_pv[df_pv['difference'] != pd.Timedelta(days=0)] # delete the data that date_time is too close (< 3 hours)
df_pv_copy=df_pv
df_pv_copy.reset_index(drop=True, inplace=True)
df_pv_copy

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
3825,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3826,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3827,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3828,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3829,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [19]:
index_of_interest =df_pv_copy.index[df_pv_copy['id'] == 43643].tolist()[0]
start_index = max(0, index_of_interest - 5)
rows_to_copy = df_pv_copy.iloc[start_index:index_of_interest]
new_datetime = df_pv_copy.loc[df_pv_copy['id'] == 43643, 'date_time'].iloc[0] - pd.Timedelta(hours=3)

new_rows = []
for i, device_id in enumerate(range(6, 11), start=1):
    charge_capacity = rows_to_copy.iloc[(i-1) % len(rows_to_copy)]['charge_capacity']
    new_rows.append({'id': -1, 'device_id': device_id, 'charge_capacity': charge_capacity, 'active_power':0, 
                     'direct_power':0, 'date_time': new_datetime, 'difference':pd.Timedelta('0 days 03:00:00')})

new_rows_df = pd.DataFrame(new_rows)

df_before = df_pv_copy.iloc[:index_of_interest]
df_after = df_pv_copy.iloc[index_of_interest:]

df_updated = pd.concat([df_before, new_rows_df, df_after]).reset_index(drop=True)

In [20]:
df_pv_copy=df_updated

In [21]:
index_of_interest =df_pv_copy.index[df_pv_copy['id'] == 43658].tolist()[0]

start_index = max(0, index_of_interest - 5)
rows_to_copy = df_pv_copy.iloc[start_index:index_of_interest]
new_datetime = df_pv_copy.loc[df_pv_copy['id'] == 43658, 'date_time'].iloc[0] - pd.Timedelta(hours=3)

new_rows = []
for i, device_id in enumerate(range(6, 11), start=1):
    charge_capacity = rows_to_copy.iloc[(i-1) % len(rows_to_copy)]['charge_capacity']
    new_rows.append({'id': -1, 'device_id': device_id, 'charge_capacity': charge_capacity, 'active_power':0, 
                     'direct_power':0, 'date_time': new_datetime, 'difference':pd.Timedelta('0 days 03:00:00')})

new_rows_df = pd.DataFrame(new_rows)

df_before = df_pv_copy.iloc[:index_of_interest]
df_after = df_pv_copy.iloc[index_of_interest:]

df_updated = pd.concat([df_before, new_rows_df, df_after]).reset_index(drop=True)

In [22]:
df_pv_copy=df_updated
df_pv_copy

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
3835,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3836,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3837,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3838,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3839,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [26]:
df_pv_large_dt = pd.read_csv('data/df_pv_add_dt.csv')
df_pv_large_dt['date_time'] = pd.to_datetime(df_pv_large_dt['date_time'])
target_index = df_pv_large_dt.index[df_pv_large_dt['id'] == 43668].tolist()[0]
new_rows = []

for i in range(5):
    mean_power1 = round((df_pv_large_dt.iloc[target_index + i - 5]['active_power'] + df_pv_large_dt.iloc[target_index + i]['active_power']) / 2,2)
    mean_power2 = round((df_pv_large_dt.iloc[target_index + i - 5]['direct_power'] + df_pv_large_dt.iloc[target_index + i]['direct_power']) / 2,2)
    mean_date = df_pv_large_dt.iloc[[target_index + i - 5, target_index + i]]['date_time'].mean()
    mean_charge_capacity=round((df_pv_large_dt.iloc[target_index + i - 5]['charge_capacity'] + df_pv_large_dt.iloc[target_index + i]['charge_capacity']) / 2,2)
    
    new_rows.append({'id': -1, 'device_id':i+6, 'active_power': mean_power1, 'direct_power':mean_power2, 'date_time': mean_date, 
                     'charge_capacity': mean_charge_capacity, 'difference':pd.Timedelta('0 days 03:00:00')})

new_rows_df = pd.DataFrame(new_rows)
new_rows_df

,id,device_id,active_power,direct_power,date_time,charge_capacity,difference
0,-1,6,56.10,56.84,2023-12-29 11:00:00,121.2,0 days 03:00:00
1,-1,7,54.66,55.37,2023-12-29 11:00:00,123.6,0 days 03:00:00
2,-1,8,57.62,58.43,2023-12-29 11:00:00,126.1,0 days 03:00:00
3,-1,9,60.50,61.30,2023-12-29 11:00:00,153.5,0 days 03:00:00
4,-1,10,46.70,47.30,2023-12-29 11:00:00,101.9,0 days 03:00:00

In [27]:
target_index = df_pv_copy.index[df_pv_copy['id'] == 43678].tolist()[0]

df_before = df_pv_copy.iloc[:target_index]
df_after = df_pv_copy.iloc[target_index:] 
df_updated = pd.concat([df_before, new_rows_df, df_after]).reset_index(drop=True)
df_updated

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
3840,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3841,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3842,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3843,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3844,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [30]:
df_updated.to_csv('data/df_updated.csv')
df_pv_copy = df_updated

In [31]:
df_pv_copy

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
3840,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3841,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3842,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3843,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3844,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [32]:
df_pv_copy['difference'] = df_pv_copy['date_time'] - df_pv_copy['date_time'].shift(5)
df_pv_copy

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
3840,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3841,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3842,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3843,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3844,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [33]:
df_pv_copy[df_pv_copy['difference'] != pd.Timedelta('0 days 03:00:00')]

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
925,36803,6,2023-12-11 17:00:12,1.04,1.30,367.7,2023-12-11 17:00:00,65 days 09:00:00
926,36804,7,2023-12-11 17:00:12,0.96,1.28,371.1,2023-12-11 17:00:00,65 days 09:00:00
927,36805,8,2023-12-11 17:00:12,0.76,1.22,352.5,2023-12-11 17:00:00,65 days 09:00:00
928,36806,9,2023-12-11 17:00:12,0.87,1.27,442.2,2023-12-11 17:00:00,65 days 09:00:00
929,36807,10,2023-12-11 17:00:12,0.82,1.26,318.1,2023-12-11 17:00:00,65 days 09:00:00

In [34]:
df_pv=df_pv_copy
df_pv.to_csv('data/df_pv.csv')

In [64]:
df_weather = pd.read_excel("./58752.14.09.2023.22.02.2024.1.0.0.cn.utf8.00000000.xls",skiprows=6)
df_weather

,当地时间 温州市,T,Po,P,Pa,U,DD,Ff,ff10,ff3,...,Cm,Ch,VV,Td,RRR,tR,E,Tg,E',sss
0,22.02.2024 23:00,5.8,766.8,770.5,NaN,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,3.8,5.4,2,6.0,NaN,NaN,NaN,NaN
1,22.02.2024 20:00,6.2,765.7,769.3,1.2,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,2.4,5.8,2,12.0,NaN,NaN,NaN,NaN
2,22.02.2024 17:00,7.2,764.5,768.1,0.6,96,从东方吹来的风,3,NaN,6.0,...,NaN,NaN,1.5,6.6,3,12.0,NaN,NaN,NaN,NaN
3,22.02.2024 14:00,8.0,763.9,767.5,-1.2,96,从东北偏东方向吹来的风,2,NaN,6.0,...,NaN,NaN,3.9,7.4,4,12.0,NaN,NaN,NaN,NaN
4,22.02.2024 11:00,8.5,765.1,768.7,0.1,98,从东方吹来的风,2,NaN,6.0,...,NaN,NaN,8.0,8.2,5,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,14.09.2023 14:00,31.2,753.3,756.6,NaN,63,从东南方吹来的风,3,NaN,NaN,...,NaN,NaN,19.0,23.3,无降水,12.0,NaN,NaN,NaN,NaN
1290,14.09.2023 11:00,31.2,754.1,757.4,NaN,60,从东南方吹来的风,2,NaN,5.0,...,NaN,NaN,18.0,22.5,无降水,6.0,NaN,NaN,NaN,NaN
1291,14.09.2023 08:00,27.5,753.7,757.0,0.9,83,从西方吹来的风,0,NaN,4.0,...,NaN,NaN,4.9,24.4,无降水,12.0,NaN,NaN,NaN,NaN
1292,14.09.2023 05:00,25.1,752.8,756.2,-0.3,91,从西方吹来的风,2,NaN,6.0,...,NaN,NaN,2.6,23.5,无降水,12.0,NaN,NaN,NaN,NaN
1293,14.09.2023 02:00,25.9,753.1,756.5,-0.1,86,从西北偏西方向吹来的风,1,NaN,7.0,...,NaN,NaN,8.0,23.4,无降水,12.0,NaN,NaN,NaN,NaN

In [65]:
df_weather=df_weather.iloc[::-1].reset_index(drop=True) #逆序
df_weather

,当地时间 温州市,T,Po,P,Pa,U,DD,Ff,ff10,ff3,...,Cm,Ch,VV,Td,RRR,tR,E,Tg,E',sss
0,14.09.2023 02:00,25.9,753.1,756.5,-0.1,86,从西北偏西方向吹来的风,1,NaN,7.0,...,NaN,NaN,8.0,23.4,无降水,12.0,NaN,NaN,NaN,NaN
1,14.09.2023 05:00,25.1,752.8,756.2,-0.3,91,从西方吹来的风,2,NaN,6.0,...,NaN,NaN,2.6,23.5,无降水,12.0,NaN,NaN,NaN,NaN
2,14.09.2023 08:00,27.5,753.7,757.0,0.9,83,从西方吹来的风,0,NaN,4.0,...,NaN,NaN,4.9,24.4,无降水,12.0,NaN,NaN,NaN,NaN
3,14.09.2023 11:00,31.2,754.1,757.4,NaN,60,从东南方吹来的风,2,NaN,5.0,...,NaN,NaN,18.0,22.5,无降水,6.0,NaN,NaN,NaN,NaN
4,14.09.2023 14:00,31.2,753.3,756.6,NaN,63,从东南方吹来的风,3,NaN,NaN,...,NaN,NaN,19.0,23.3,无降水,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,768.7,0.1,98,从东方吹来的风,2,NaN,6.0,...,NaN,NaN,8.0,8.2,5,12.0,NaN,NaN,NaN,NaN
1290,22.02.2024 14:00,8.0,763.9,767.5,-1.2,96,从东北偏东方向吹来的风,2,NaN,6.0,...,NaN,NaN,3.9,7.4,4,12.0,NaN,NaN,NaN,NaN
1291,22.02.2024 17:00,7.2,764.5,768.1,0.6,96,从东方吹来的风,3,NaN,6.0,...,NaN,NaN,1.5,6.6,3,12.0,NaN,NaN,NaN,NaN
1292,22.02.2024 20:00,6.2,765.7,769.3,1.2,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,2.4,5.8,2,12.0,NaN,NaN,NaN,NaN
1293,22.02.2024 23:00,5.8,766.8,770.5,NaN,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,3.8,5.4,2,6.0,NaN,NaN,NaN,NaN

In [66]:
df_weather.nunique()

当地时间 温州市    1294
T            302
Po           209
P            211
Pa            58
U             78
DD            17
Ff             6
ff10           0
ff3           13
N              0
WW            17
W1             4
W2             2
Tn           198
Tx           186
Cl             0
Nh             0
H              1
Cm             0
Ch             0
VV            65
Td           310
RRR           33
tR             2
E              0
Tg             0
E'             0
sss            0
dtype: int64

In [67]:
df_weather.drop(['ff10', 'N', 'Cl', 'Nh', 'Cm', 'Ch', 'E', 'Tg', "E'", 'sss'], axis=1, inplace=True)
df_weather

,当地时间 温州市,T,Po,P,Pa,U,DD,Ff,ff3,WW,W1,W2,Tn,Tx,H,VV,Td,RRR,tR
0,14.09.2023 02:00,25.9,753.1,756.5,-0.1,86,从西北偏西方向吹来的风,1,7.0,云量发展情况没有进行观测或无法观测。,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,25.8,31.5,2500或更高，或无云。,8.0,23.4,无降水,12.0
1,14.09.2023 05:00,25.1,752.8,756.2,-0.3,91,从西方吹来的风,2,6.0,霾,NaN,NaN,25.1,31.5,2500或更高，或无云。,2.6,23.5,无降水,12.0
2,14.09.2023 08:00,27.5,753.7,757.0,0.9,83,从西方吹来的风,0,4.0,霾,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,24.9,31.5,2500或更高，或无云。,4.9,24.4,无降水,12.0
3,14.09.2023 11:00,31.2,754.1,757.4,NaN,60,从东南方吹来的风,2,5.0,,NaN,NaN,24.9,31.7,NaN,18.0,22.5,无降水,6.0
4,14.09.2023 14:00,31.2,753.3,756.6,NaN,63,从东南方吹来的风,3,NaN,云量发展情况没有进行观测或无法观测。,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,24.9,31.7,2500或更高，或无云。,19.0,23.3,无降水,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,768.7,0.1,98,从东方吹来的风,2,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,雨,在整个相应周期内云遮住了一半或以下的天空,8.4,NaN,2500或更高，或无云。,8.0,8.2,5,12.0
1290,22.02.2024 14:00,8.0,763.9,767.5,-1.2,96,从东北偏东方向吹来的风,2,6.0,薄雾,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,7.9,NaN,2500或更高，或无云。,3.9,7.4,4,12.0
1291,22.02.2024 17:00,7.2,764.5,768.1,0.6,96,从东方吹来的风,3,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,7.1,NaN,2500或更高，或无云。,1.5,6.6,3,12.0
1292,22.02.2024 20:00,6.2,765.7,769.3,1.2,97,从东北方吹来的风,2,7.0,间歇性毛毛雨，不冻，在观测时是微弱的,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,6.2,NaN,2500或更高，或无云。,2.4,5.8,2,12.0
1293,22.02.2024 23:00,5.8,766.8,770.5,NaN,97,从东北方吹来的风,2,7.0,间歇性雨，不冻，在观测时较弱,NaN,NaN,5.8,11.5,NaN,3.8,5.4,2,6.0

In [68]:
df_weather.drop('H', axis=1, inplace=True)

In [69]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1294 entries, 0 to 1293
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   当地时间 温州市  1294 non-null   object
 1   T         1294 non-null   float64
 2   Po        1294 non-null   float64
 3   P         1294 non-null   float64
 4   Pa        1205 non-null   float64
 5   U         1294 non-null   int64
 6   DD        1294 non-null   object
 7   Ff        1294 non-null   int64
 8   ff3       1195 non-null   float64
 9   WW        1294 non-null   object
 10  W1        923 non-null    object
 11  W2        923 non-null    object
 12  Tn        1265 non-null   float64
 13  Tx        1095 non-null   float64
 14  VV        1294 non-null   float64
 15  Td        1294 non-null   float64
 16  RRR       1284 non-null   object
 17  tR        1284 non-null   float64
dtypes: float64(10), int64(2), object(6)
memory usage: 182.1+ KB

In [70]:
df_weather.drop(['P', 'Pa'], axis=1, inplace=True)
df_weather

,当地时间 温州市,T,Po,U,DD,Ff,ff3,WW,W1,W2,Tn,Tx,VV,Td,RRR,tR
0,14.09.2023 02:00,25.9,753.1,86,从西北偏西方向吹来的风,1,7.0,云量发展情况没有进行观测或无法观测。,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,25.8,31.5,8.0,23.4,无降水,12.0
1,14.09.2023 05:00,25.1,752.8,91,从西方吹来的风,2,6.0,霾,NaN,NaN,25.1,31.5,2.6,23.5,无降水,12.0
2,14.09.2023 08:00,27.5,753.7,83,从西方吹来的风,0,4.0,霾,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,24.9,31.5,4.9,24.4,无降水,12.0
3,14.09.2023 11:00,31.2,754.1,60,从东南方吹来的风,2,5.0,,NaN,NaN,24.9,31.7,18.0,22.5,无降水,6.0
4,14.09.2023 14:00,31.2,753.3,63,从东南方吹来的风,3,NaN,云量发展情况没有进行观测或无法观测。,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,24.9,31.7,19.0,23.3,无降水,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,98,从东方吹来的风,2,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,雨,在整个相应周期内云遮住了一半或以下的天空,8.4,NaN,8.0,8.2,5,12.0
1290,22.02.2024 14:00,8.0,763.9,96,从东北偏东方向吹来的风,2,6.0,薄雾,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,7.9,NaN,3.9,7.4,4,12.0
1291,22.02.2024 17:00,7.2,764.5,96,从东方吹来的风,3,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,7.1,NaN,1.5,6.6,3,12.0
1292,22.02.2024 20:00,6.2,765.7,97,从东北方吹来的风,2,7.0,间歇性毛毛雨，不冻，在观测时是微弱的,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,6.2,NaN,2.4,5.8,2,12.0
1293,22.02.2024 23:00,5.8,766.8,97,从东北方吹来的风,2,7.0,间歇性雨，不冻，在观测时较弱,NaN,NaN,5.8,11.5,3.8,5.4,2,6.0

In [71]:
df_weather.drop(['W1', 'W2', 'Tn', 'Tx', 'tR'], axis=1, inplace=True)
df_weather

,当地时间 温州市,T,Po,U,DD,Ff,ff3,WW,VV,Td,RRR
0,14.09.2023 02:00,25.9,753.1,86,从西北偏西方向吹来的风,1,7.0,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水
1,14.09.2023 05:00,25.1,752.8,91,从西方吹来的风,2,6.0,霾,2.6,23.5,无降水
2,14.09.2023 08:00,27.5,753.7,83,从西方吹来的风,0,4.0,霾,4.9,24.4,无降水
3,14.09.2023 11:00,31.2,754.1,60,从东南方吹来的风,2,5.0,,18.0,22.5,无降水
4,14.09.2023 14:00,31.2,753.3,63,从东南方吹来的风,3,NaN,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水
...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,98,从东方吹来的风,2,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5
1290,22.02.2024 14:00,8.0,763.9,96,从东北偏东方向吹来的风,2,6.0,薄雾,3.9,7.4,4
1291,22.02.2024 17:00,7.2,764.5,96,从东方吹来的风,3,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3
1292,22.02.2024 20:00,6.2,765.7,97,从东北方吹来的风,2,7.0,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2
1293,22.02.2024 23:00,5.8,766.8,97,从东北方吹来的风,2,7.0,间歇性雨，不冻，在观测时较弱,3.8,5.4,2

In [72]:
df_weather.drop(['ff3'], axis=1, inplace=True)
df_weather

,当地时间 温州市,T,Po,U,DD,Ff,WW,VV,Td,RRR
0,14.09.2023 02:00,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水
1,14.09.2023 05:00,25.1,752.8,91,从西方吹来的风,2,霾,2.6,23.5,无降水
2,14.09.2023 08:00,27.5,753.7,83,从西方吹来的风,0,霾,4.9,24.4,无降水
3,14.09.2023 11:00,31.2,754.1,60,从东南方吹来的风,2,,18.0,22.5,无降水
4,14.09.2023 14:00,31.2,753.3,63,从东南方吹来的风,3,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水
...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,98,从东方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5
1290,22.02.2024 14:00,8.0,763.9,96,从东北偏东方向吹来的风,2,薄雾,3.9,7.4,4
1291,22.02.2024 17:00,7.2,764.5,96,从东方吹来的风,3,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3
1292,22.02.2024 20:00,6.2,765.7,97,从东北方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2
1293,22.02.2024 23:00,5.8,766.8,97,从东北方吹来的风,2,间歇性雨，不冻，在观测时较弱,3.8,5.4,2

In [73]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1294 entries, 0 to 1293
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   当地时间 温州市  1294 non-null   object
 1   T         1294 non-null   float64
 2   Po        1294 non-null   float64
 3   U         1294 non-null   int64
 4   DD        1294 non-null   object
 5   Ff        1294 non-null   int64
 6   WW        1294 non-null   object
 7   VV        1294 non-null   float64
 8   Td        1294 non-null   float64
 9   RRR       1284 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 101.2+ KB

In [74]:
df_weather.nunique()

当地时间 温州市    1294
T            302
Po           209
U             78
DD            17
Ff             6
WW            17
VV            65
Td           310
RRR           33
dtype: int64

In [75]:
df_weather['RRR'].unique()

array(['无降水', 0.7, 1, 0.5, 0.1, 0.2, 0.3, 2, 73, 74, 83, 14, 12, nan, 5,
       8, 16, 20, 13, 7, 4, 0.4, 0.9, 0.6, 6, 11, 10, 3, 0.8, 15, 9, 19,
       18, 17], dtype=object)

In [76]:
df_weather[pd.isna(df_weather['RRR'])]

,当地时间 温州市,T,Po,U,DD,Ff,WW,VV,Td,RRR
141,01.10.2023 20:00,24.4,757.6,73,从东北偏东方向吹来的风,3,云量发展情况没有进行观测或无法观测。,18.0,19.2,NaN
196,08.10.2023 20:00,21.1,761.2,89,从北方吹来的风,0,云量发展情况没有进行观测或无法观测。,19.0,19.2,NaN
419,05.11.2023 17:00,25.0,755.8,87,从东方吹来的风,2,云量发展情况没有进行观测或无法观测。,12.0,22.7,NaN
475,12.11.2023 17:00,16.7,766.3,71,从北方吹来的风,4,云量发展情况没有进行观测或无法观测。,20.0,11.4,NaN
508,16.11.2023 20:00,13.3,766.9,61,从西北偏北方向吹来的风,2,云量发展情况没有进行观测或无法观测。,19.0,5.9,NaN
659,05.12.2023 17:00,14.6,759.5,76,从东方吹来的风,1,云量发展情况没有进行观测或无法观测。,16.0,10.4,NaN
660,05.12.2023 20:00,12.0,760.7,82,从东北偏北方向吹来的风,0,霾,7.0,9.0,NaN
1084,27.01.2024 20:00,7.8,769.1,59,从东方吹来的风,2,霾,5.0,0.3,NaN
1108,30.01.2024 20:00,11.9,763.9,94,从东北偏东方向吹来的风,2,霾,3.9,11.0,NaN
1124,01.02.2024 20:00,12.0,762.5,97,从东方吹来的风,3,薄雾,2.2,11.5,NaN

In [77]:
df_weather['date_time'] = pd.to_datetime(df_weather['当地时间 温州市'], dayfirst=True).dt.floor('min')
df_weather

,当地时间 温州市,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time
0,14.09.2023 02:00,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00
1,14.09.2023 05:00,25.1,752.8,91,从西方吹来的风,2,霾,2.6,23.5,无降水,2023-09-14 05:00:00
2,14.09.2023 08:00,27.5,753.7,83,从西方吹来的风,0,霾,4.9,24.4,无降水,2023-09-14 08:00:00
3,14.09.2023 11:00,31.2,754.1,60,从东南方吹来的风,2,,18.0,22.5,无降水,2023-09-14 11:00:00
4,14.09.2023 14:00,31.2,753.3,63,从东南方吹来的风,3,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水,2023-09-14 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,98,从东方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5,2024-02-22 11:00:00
1290,22.02.2024 14:00,8.0,763.9,96,从东北偏东方向吹来的风,2,薄雾,3.9,7.4,4,2024-02-22 14:00:00
1291,22.02.2024 17:00,7.2,764.5,96,从东方吹来的风,3,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3,2024-02-22 17:00:00
1292,22.02.2024 20:00,6.2,765.7,97,从东北方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2,2024-02-22 20:00:00
1293,22.02.2024 23:00,5.8,766.8,97,从东北方吹来的风,2,间歇性雨，不冻，在观测时较弱,3.8,5.4,2,2024-02-22 23:00:00

In [78]:
df_weather.drop(['当地时间 温州市'], axis=1, inplace=True)
df_weather

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time
0,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00
1,25.1,752.8,91,从西方吹来的风,2,霾,2.6,23.5,无降水,2023-09-14 05:00:00
2,27.5,753.7,83,从西方吹来的风,0,霾,4.9,24.4,无降水,2023-09-14 08:00:00
3,31.2,754.1,60,从东南方吹来的风,2,,18.0,22.5,无降水,2023-09-14 11:00:00
4,31.2,753.3,63,从东南方吹来的风,3,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水,2023-09-14 14:00:00
...,...,...,...,...,...,...,...,...,...,...
1289,8.5,765.1,98,从东方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5,2024-02-22 11:00:00
1290,8.0,763.9,96,从东北偏东方向吹来的风,2,薄雾,3.9,7.4,4,2024-02-22 14:00:00
1291,7.2,764.5,96,从东方吹来的风,3,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3,2024-02-22 17:00:00
1292,6.2,765.7,97,从东北方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2,2024-02-22 20:00:00
1293,5.8,766.8,97,从东北方吹来的风,2,间歇性雨，不冻，在观测时较弱,3.8,5.4,2,2024-02-22 23:00:00

In [79]:
df_weather['difference'] = df_weather['date_time'] - df_weather['date_time'].shift(1)
df_weather

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT
1,25.1,752.8,91,从西方吹来的风,2,霾,2.6,23.5,无降水,2023-09-14 05:00:00,0 days 03:00:00
2,27.5,753.7,83,从西方吹来的风,0,霾,4.9,24.4,无降水,2023-09-14 08:00:00,0 days 03:00:00
3,31.2,754.1,60,从东南方吹来的风,2,,18.0,22.5,无降水,2023-09-14 11:00:00,0 days 03:00:00
4,31.2,753.3,63,从东南方吹来的风,3,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水,2023-09-14 14:00:00,0 days 03:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1289,8.5,765.1,98,从东方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5,2024-02-22 11:00:00,0 days 03:00:00
1290,8.0,763.9,96,从东北偏东方向吹来的风,2,薄雾,3.9,7.4,4,2024-02-22 14:00:00,0 days 03:00:00
1291,7.2,764.5,96,从东方吹来的风,3,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3,2024-02-22 17:00:00,0 days 03:00:00
1292,6.2,765.7,97,从东北方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2,2024-02-22 20:00:00,0 days 03:00:00
1293,5.8,766.8,97,从东北方吹来的风,2,间歇性雨，不冻，在观测时较弱,3.8,5.4,2,2024-02-22 23:00:00,0 days 03:00:00

In [80]:
df_weather[df_weather['difference'] != pd.Timedelta('0 days 03:00:00')]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT
100,29.2,756.0,77,从东方吹来的风,3,,16.0,24.7,无降水,2023-09-26 17:00:00,0 days 06:00:00
196,21.1,761.2,89,从北方吹来的风,0,云量发展情况没有进行观测或无法观测。,19.0,19.2,NaN,2023-10-08 20:00:00,0 days 06:00:00

In [81]:
df_weather[99:101]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
99,31.9,757.0,61,无风,0,,18.0,23.4,无降水,2023-09-26 11:00:00,0 days 03:00:00
100,29.2,756.0,77,从东方吹来的风,3,,16.0,24.7,无降水,2023-09-26 17:00:00,0 days 06:00:00

In [82]:
mean_T = round((df_weather.loc[99, 'T'] + df_weather.loc[100, 'T']) / 2,1)
mean_Po = round((df_weather.loc[99, 'Po'] + df_weather.loc[100, 'Po']) / 2,1)
mean_U = (df_weather.loc[99, 'U'] + df_weather.loc[100, 'U']) / 2
mean_Ff = (df_weather.loc[99, 'Ff'] + df_weather.loc[100, 'Ff']) / 2
mean_VV = round((df_weather.loc[99, 'VV'] + df_weather.loc[100, 'VV']) / 2,1)
mean_Td	= round((df_weather.loc[99, 'Td'] + df_weather.loc[100, 'Td']) / 2,1)
mean_date = df_weather.iloc[[99, 100]]['date_time'].mean()

new_row = pd.DataFrame({'T': [mean_T], 'Po': [mean_Po], 'U': [mean_U], 'Ff': [mean_Ff], 'WW': None, 'VV': [mean_VV],
                       'Td': [mean_Td], 'RRR': ["无降水"], 'date_time': mean_date }, index=[99.5])

df_updated = pd.concat([df_weather.loc[:99], new_row, df_weather.loc[100:]]).sort_index().reset_index(drop=True)

In [83]:
df_weather=df_updated

In [84]:
df_weather

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86.0,从西北偏西方向吹来的风,1.0,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT
1,25.1,752.8,91.0,从西方吹来的风,2.0,霾,2.6,23.5,无降水,2023-09-14 05:00:00,0 days 03:00:00
2,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,2023-09-14 08:00:00,0 days 03:00:00
3,31.2,754.1,60.0,从东南方吹来的风,2.0,,18.0,22.5,无降水,2023-09-14 11:00:00,0 days 03:00:00
4,31.2,753.3,63.0,从东南方吹来的风,3.0,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水,2023-09-14 14:00:00,0 days 03:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1290,8.5,765.1,98.0,从东方吹来的风,2.0,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5,2024-02-22 11:00:00,0 days 03:00:00
1291,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,2024-02-22 14:00:00,0 days 03:00:00
1292,7.2,764.5,96.0,从东方吹来的风,3.0,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3,2024-02-22 17:00:00,0 days 03:00:00
1293,6.2,765.7,97.0,从东北方吹来的风,2.0,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2,2024-02-22 20:00:00,0 days 03:00:00
1294,5.8,766.8,97.0,从东北方吹来的风,2.0,间歇性雨，不冻，在观测时较弱,3.8,5.4,2,2024-02-22 23:00:00,0 days 03:00:00

In [85]:
df_weather['difference'] = df_weather['date_time'] - df_weather['date_time'].shift(1)
df_weather[df_weather['difference'] != pd.Timedelta('0 days 03:00:00')]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86.0,从西北偏西方向吹来的风,1.0,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT
197,21.1,761.2,89.0,从北方吹来的风,0.0,云量发展情况没有进行观测或无法观测。,19.0,19.2,NaN,2023-10-08 20:00:00,0 days 06:00:00

In [86]:
df_weather[196:198]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
196,24.1,759.1,72.0,从东北偏北方向吹来的风,1.0,云量发展情况没有进行观测或无法观测。,20.0,18.7,0.4,2023-10-08 14:00:00,0 days 03:00:00
197,21.1,761.2,89.0,从北方吹来的风,0.0,云量发展情况没有进行观测或无法观测。,19.0,19.2,NaN,2023-10-08 20:00:00,0 days 06:00:00

In [87]:
mean_T = round((df_weather.loc[196, 'T'] + df_weather.loc[197, 'T']) / 2,1)
mean_Po = round((df_weather.loc[196, 'Po'] + df_weather.loc[197, 'Po']) / 2,1)
mean_U = (df_weather.loc[196, 'U'] + df_weather.loc[197, 'U']) / 2
mean_Ff = (df_weather.loc[196, 'Ff'] + df_weather.loc[197, 'Ff']) / 2
mean_VV = round((df_weather.loc[196, 'VV'] + df_weather.loc[197, 'VV']) / 2,1)
mean_Td	= round((df_weather.loc[196, 'Td'] + df_weather.loc[197, 'Td']) / 2,1)
mean_date = df_weather.iloc[[196, 197]]['date_time'].mean()

new_row = pd.DataFrame({'T': [mean_T], 'Po': [mean_Po], 'U': [mean_U], 'Ff': [mean_Ff], 'WW': None, 'VV': [mean_VV],
                       'Td': [mean_Td], 'RRR': None, 'date_time': mean_date }, index=[196.5])

df_updated = pd.concat([df_weather.loc[:196], new_row, df_weather.loc[197:]]).sort_index().reset_index(drop=True)
df_weather = df_updated
df_weather['difference'] = df_weather['date_time'] - df_weather['date_time'].shift(1)

In [88]:
df_weather[df_weather['difference'] != pd.Timedelta('0 days 03:00:00')]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86.0,从西北偏西方向吹来的风,1.0,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT

In [89]:
df_pv.drop(['gather_time'], axis=1, inplace=True)
df_pv

,id,device_id,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [90]:
df_merged = pd.merge(df_pv, df_weather, on='date_time', how='left')
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,difference_x,T,Po,U,DD,Ff,WW,VV,Td,RRR,difference_y
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00

In [91]:
df_merged.drop(['difference_x','difference_y'], axis=1, inplace=True)
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,DD,Ff,WW,VV,Td,RRR
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4

In [92]:
df_merged.to_csv('data/df_merged_init.csv')

In [93]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3845 entries, 0 to 3844
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3845 non-null   int64
 1   device_id        3845 non-null   int64
 2   active_power     3845 non-null   float64
 3   direct_power     3845 non-null   float64
 4   charge_capacity  3845 non-null   float64
 5   date_time        3845 non-null   datetime64[ns]
 6   T                3845 non-null   float64
 7   Po               3845 non-null   float64
 8   U                3845 non-null   float64
 9   DD               3840 non-null   object
 10  Ff               3845 non-null   float64
 11  WW               3840 non-null   object
 12  VV               3845 non-null   float64
 13  Td               3845 non-null   float64
 14  RRR              3825 non-null   object
dtypes: datetime64[ns](1), float64(9), int64(2), object(3)
memory usage: 450.7+ KB

In [94]:
print(f"The range of 'active_power' is from {df_merged['active_power'].min()} to {df_merged['active_power'].max()}")
print(f"The range of 'direct_power' is from {df_merged['direct_power'].min()} to {df_merged['direct_power'].max()}")
print(f"The range of 'charge_capacity' is from {df_merged['charge_capacity'].min()} to {df_merged['charge_capacity'].max()}")
print(f"The range of 'T' is from {df_merged['T'].min()} to {df_merged['T'].max()}")
print(f"The range of 'Po' is from {df_merged['Po'].min()} to {df_merged['Po'].max()}")
print(f"The range of 'U' is from {df_merged['U'].min()} to {df_merged['U'].max()}")
print(f"The range of 'Ff' is from {df_merged['Ff'].min()} to {df_merged['Ff'].max()}")
print(f"The range of 'VV' is from {df_merged['VV'].min()} to {df_merged['VV'].max()}")
print(f"The range of 'Td' is from {df_merged['Td'].min()} to {df_merged['Td'].max()}")

print("DD:",df_merged['DD'].unique())
print("WW:",df_merged['WW'].unique())
print("RRR:",df_merged['RRR'].unique())

The range of 'active_power' is from 0.0 to 109.88
The range of 'direct_power' is from 0.0 to 112.12
The range of 'charge_capacity' is from 0.0 to 686.8
The range of 'T' is from -2.1 to 33.3
The range of 'Po' is from 753.3 to 777.1
The range of 'U' is from 19.0 to 100.0
The range of 'Ff' is from 0.0 to 5.0
The range of 'VV' is from 0.1 to 20.0
The range of 'Td' is from -14.5 to 26.1
DD: ['从西方吹来的风' '从东南方吹来的风' '从东方吹来的风' '从西北方吹来的风' '从东南偏东方向吹来的风' '从南方吹来的风'
 '从西北偏西方向吹来的风' '从西南偏西方向吹来的风' '从东南偏南方向吹来的风' '从西北偏北方向吹来的风' '从东北方吹来的风'
 '从北方吹来的风' '从西南方吹来的风' '从西南偏南方向吹来的风' '从东北偏东方向吹来的风' '从东北偏北方向吹来的风' '无风' nan]
WW: ['霾 ' ' ' '云量发展情况没有进行观测或无法观测。 ' '小雨（不冻） ' '毛毛雨（不冻）或者小雪粒 '
 '间歇性毛毛雨，不冻，在观测时是微弱的 ' '薄雾 ' None '间歇性雨，不冻，在观测时中度 ' '间歇性雨，不冻，在观测时较弱 '
 '雾或冰雾 ' '雾或冰雾，天空不可见，在观测前一个小时内没有明显的浓度变化。 ' '间歇性毛毛雨，不冻，在观测时为中度 '
 '雨或毛毛雨夹雪较弱 ' '间歇性雪，在观测时较弱 ' '小雪 ' '间歇性毛毛雨，不冻，在观测时为强度 '
 '有雾或冰雾，天空可见，在观测前一个小时内开始出现或变浓。 ']
RRR: ['无降水' 0.7 1 0.5 0.1 0.2 0.3 2 73 74 83 14 12 nan 5 8 16 0.4 4 7 10 9 0.6
 6 3 0.8 19 18 15 17 20 11]

In [95]:
pd.set_option('future.no_silent_downcasting', True)
df_merged['RRR']=df_merged['RRR'].replace('无降水', 0)

In [96]:
df_merged.to_csv('df_merged.csv')
print("RRR:",df_merged['RRR'].unique())
df_merged.dtypes

RRR: [0 0.7 1 0.5 0.1 0.2 0.3 2 73 74 83 14 12 nan 5 8 16 0.4 4 7 10 9 0.6 6 3
 0.8 19 18 15 17 20 11]

id                          int64
device_id                   int64
active_power              float64
direct_power              float64
charge_capacity           float64
date_time          datetime64[ns]
T                         float64
Po                        float64
U                         float64
DD                         object
Ff                        float64
WW                         object
VV                        float64
Td                        float64
RRR                        object
dtype: object

In [97]:
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,DD,Ff,WW,VV,Td,RRR
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4

In [98]:
# ['从西方吹来的风' '从东南方吹来的风' '从东方吹来的风' '从西北方吹来的风' '从东南偏东方向吹来的风' '从南方吹来的风'
#  '从西北偏西方向吹来的风' '从西南偏西方向吹来的风' '从东南偏南方向吹来的风' '从西北偏北方向吹来的风' '从东北方吹来的风'
#  '从北方吹来的风' '从西南方吹来的风' '从西南偏南方向吹来的风' '从东北偏东方向吹来的风' '从东北偏北方向吹来的风' '无风' nan]
def DD_to_N(dd):
    direction={
        '北':'0/1/',
        '东':'1/0/',
        '南':'0/2/',
        '西':'2/0/'
    }
    if isinstance(dd, str):
        for char, num in direction.items():
            dd = dd.replace(char, num)
        numbers = re.findall('\d+', dd)[:4]
        numbers = [int(num) for num in numbers]
        numbers = [-1 if x == 2 else x for x in numbers]
        new_numbers = [numbers[i:i + 2] for i in range(0, len(numbers), 2)]
        if len(new_numbers)==0:
            result=[0,0]
        else:
            result=[0,0]
            for i in range(len(new_numbers)):
                result=[a + b for a, b in zip(result, new_numbers[i])]
    else:
        result=[0,0]
    return result
df_merged[['DD_WE', 'DD_NS']] = df_merged['DD'].apply(DD_to_N).apply(pd.Series)
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,DD,Ff,WW,VV,Td,RRR,DD_WE,DD_NS
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0,-1,0
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0,-1,0
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0,-1,0
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0,-1,0
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,1,1
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,1,1
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,1,1
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,1,1
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,1,1

In [99]:
df_merged.to_csv('df_merged.csv')
df_merged.drop('DD', axis=1, inplace=True)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3845 entries, 0 to 3844
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3845 non-null   int64
 1   device_id        3845 non-null   int64
 2   active_power     3845 non-null   float64
 3   direct_power     3845 non-null   float64
 4   charge_capacity  3845 non-null   float64
 5   date_time        3845 non-null   datetime64[ns]
 6   T                3845 non-null   float64
 7   Po               3845 non-null   float64
 8   U                3845 non-null   float64
 9   Ff               3845 non-null   float64
 10  WW               3840 non-null   object
 11  VV               3845 non-null   float64
 12  Td               3845 non-null   float64
 13  RRR              3825 non-null   object
 14  DD_WE            3845 non-null   int64
 15  DD_NS            3845 non-null   int64
dtypes: datetime64[ns](1), float64(9), int64(4), object(2)
memory usage: 480.8+ KB

In [100]:
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,Ff,WW,VV,Td,RRR,DD_WE,DD_NS
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,霾,4.9,24.4,0,-1,0
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,霾,4.9,24.4,0,-1,0
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,霾,4.9,24.4,0,-1,0
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,霾,4.9,24.4,0,-1,0
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,霾,4.9,24.4,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,薄雾,3.9,7.4,4,1,1
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,薄雾,3.9,7.4,4,1,1
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,薄雾,3.9,7.4,4,1,1
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,薄雾,3.9,7.4,4,1,1
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,薄雾,3.9,7.4,4,1,1

In [101]:
# '霾 ', ' ', '云量发展情况没有进行观测或无法观测。 ', '小雨（不冻） ', '毛毛雨（不冻）或者小雪粒 ',
#         '间歇性毛毛雨，不冻，在观测时是微弱的 ', '薄雾 ', None, '间歇性雨，不冻，在观测时中度 ',
#         '间歇性雨，不冻，在观测时较弱 ', '雾或冰雾 ', '雾或冰雾，天空不可见，在观测前一个小时内没有明显的浓度变化。 ',
#         '间歇性毛毛雨，不冻，在观测时为中度 ', '雨或毛毛雨夹雪较弱 ', '间歇性雪，在观测时较弱 ', '小雪 ',
#         '间歇性毛毛雨，不冻，在观测时为强度 ', '有雾或冰雾，天空可见，在观测前一个小时内开始出现或变浓。 '
proportions = df_merged['WW'].value_counts(normalize=True)  # normalize=True will give you the proportions instead of counts
print("Proportions:\n", proportions)

Proportions:
 WW
云量发展情况没有进行观测或无法观测。                 0.432292
霾                                  0.316406
                                   0.065104
薄雾                                 0.052083
间歇性雨，不冻，在观测时较弱                     0.042969
小雨（不冻）                             0.028646
间歇性毛毛雨，不冻，在观测时是微弱的                 0.026042
间歇性雨，不冻，在观测时中度                     0.007812
有雾或冰雾，天空可见，在观测前一个小时内开始出现或变浓。       0.007812
毛毛雨（不冻）或者小雪粒                       0.005208
雾或冰雾，天空不可见，在观测前一个小时内没有明显的浓度变化。     0.003906
间歇性雪，在观测时较弱                        0.003906
雨或毛毛雨夹雪较弱                          0.002604
雾或冰雾                               0.001302
间歇性毛毛雨，不冻，在观测时为中度                  0.001302
小雪                                 0.001302
间歇性毛毛雨，不冻，在观测时为强度                  0.001302
Name: proportion, dtype: float64

In [102]:
df_merged.drop('WW', axis=1, inplace=True)
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,Ff,VV,Td,RRR,DD_WE,DD_NS
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,4.9,24.4,0,-1,0
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,4.9,24.4,0,-1,0
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,4.9,24.4,0,-1,0
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,4.9,24.4,0,-1,0
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,4.9,24.4,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,3.9,7.4,4,1,1
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,3.9,7.4,4,1,1
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,3.9,7.4,4,1,1
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,3.9,7.4,4,1,1
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,3.9,7.4,4,1,1

In [103]:
df_merged.drop('VV', axis=1, inplace=True)
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,Ff,Td,RRR,DD_WE,DD_NS
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,24.4,0,-1,0
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,24.4,0,-1,0
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,24.4,0,-1,0
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,24.4,0,-1,0
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,24.4,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,7.4,4,1,1
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,7.4,4,1,1
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,7.4,4,1,1
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,7.4,4,1,1
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,7.4,4,1,1

In [104]:
df_merged.drop('Td', axis=1, inplace=True)
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,Ff,RRR,DD_WE,DD_NS
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1

In [105]:
df_merged.loc[:, 'Po(p)'] = (df_merged['Po'] * 1.322).round(2)
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,Ff,RRR,DD_WE,DD_NS,Po(p)
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0,996.39
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0,996.39
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0,996.39
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0,996.39
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,0.0,0,-1,0,996.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1,1009.88
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1,1009.88
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1,1009.88
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1,1009.88
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,2.0,4,1,1,1009.88

In [106]:
df_merged.drop('Po', axis=1, inplace=True)
df_merged

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,DD_WE,DD_NS,Po(p)
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88

In [145]:
from pvlib import location
from pvlib import irradiance
import pandas as pd

tz='Asia/Shanghai'
lat, lon = 27.962847, 120.736522

site = location.Location(lat, lon, tz=tz)

def get_irradiance(site_location, start, end, tilt, surface_azimuth):
    times = pd.date_range(start=start, end=end, freq='3h', tz=site_location.tz)
    clearsky = site_location.get_clearsky(times)
    solar_position = site_location.get_solarposition(times=times)
    POA_irradiance = irradiance.get_total_irradiance(
        surface_tilt=tilt,
        surface_azimuth=surface_azimuth,
        dni=clearsky['dni'],
        ghi=clearsky['ghi'],
        dhi=clearsky['dhi'],
        solar_zenith=solar_position['apparent_zenith'],
        solar_azimuth=solar_position['azimuth'])

    return pd.DataFrame({'date_time': times,'POA': POA_irradiance['poa_global']})

irradiance = get_irradiance(site, '2023-09-14 08:00:00', '2024-02-22 14:00:00', 25, 180)
irradiance

                                          date_time         POA
2023-09-14 08:00:00+08:00 2023-09-14 08:00:00+08:00  441.366227
2023-09-14 11:00:00+08:00 2023-09-14 11:00:00+08:00  942.253400
2023-09-14 14:00:00+08:00 2023-09-14 14:00:00+08:00  801.450384
2023-09-14 17:00:00+08:00 2023-09-14 17:00:00+08:00  136.034758
2023-09-14 20:00:00+08:00 2023-09-14 20:00:00+08:00    0.000000
...                                             ...         ...
2024-02-22 02:00:00+08:00 2024-02-22 02:00:00+08:00    0.000000
2024-02-22 05:00:00+08:00 2024-02-22 05:00:00+08:00    0.000000
2024-02-22 08:00:00+08:00 2024-02-22 08:00:00+08:00  364.879227
2024-02-22 11:00:00+08:00 2024-02-22 11:00:00+08:00  959.147898
2024-02-22 14:00:00+08:00 2024-02-22 14:00:00+08:00  881.804242

[1291 rows x 2 columns]

In [108]:
irradiance['date_time'] = irradiance['date_time'].dt.tz_localize(None)
irradiance

                                    date_time         POA
2023-09-14 08:00:00+08:00 2023-09-14 08:00:00  441.366227
2023-09-14 11:00:00+08:00 2023-09-14 11:00:00  942.253400
2023-09-14 14:00:00+08:00 2023-09-14 14:00:00  801.450384
2023-09-14 17:00:00+08:00 2023-09-14 17:00:00  136.034758
2023-09-14 20:00:00+08:00 2023-09-14 20:00:00    0.000000
...                                       ...         ...
2024-02-22 02:00:00+08:00 2024-02-22 02:00:00    0.000000
2024-02-22 05:00:00+08:00 2024-02-22 05:00:00    0.000000
2024-02-22 08:00:00+08:00 2024-02-22 08:00:00  364.879227
2024-02-22 11:00:00+08:00 2024-02-22 11:00:00  959.147898
2024-02-22 14:00:00+08:00 2024-02-22 14:00:00  881.804242

[1291 rows x 2 columns]

In [109]:
irradiance.reset_index(inplace=True)
irradiance.drop('index',axis=1,inplace=True)
irradiance

               date_time         POA
0    2023-09-14 08:00:00  441.366227
1    2023-09-14 11:00:00  942.253400
2    2023-09-14 14:00:00  801.450384
3    2023-09-14 17:00:00  136.034758
4    2023-09-14 20:00:00    0.000000
...                  ...         ...
1286 2024-02-22 02:00:00    0.000000
1287 2024-02-22 05:00:00    0.000000
1288 2024-02-22 08:00:00  364.879227
1289 2024-02-22 11:00:00  959.147898
1290 2024-02-22 14:00:00  881.804242

[1291 rows x 2 columns]

In [113]:
irradiance.to_csv('data/irradiance.csv')
irradiance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1291 entries, 0 to 1290
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  1291 non-null   datetime64[ns]
 1   POA        1291 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 20.3 KB

In [111]:
df_merged2 = pd.merge(df_merged, irradiance, on='date_time', how='left')
df_merged2

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,DD_WE,DD_NS,Po(p),POA
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39,441.366227
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39,441.366227
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39,441.366227
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39,441.366227
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0,-1,0,996.39,441.366227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88,881.804242
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88,881.804242
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88,881.804242
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88,881.804242
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4,1,1,1009.88,881.804242

In [114]:
df_merged2.to_csv('data/df_merged_with_ir.csv')
df_merged = df_merged2

In [115]:
df_merged = df_merged[~df_merged['date_time'].dt.hour.isin([2, 5, 20, 23])]
df_merged.to_csv('data/df_merged_without_zero.csv')

In [116]:
df_merged=df_merged.copy()
df_merged.drop(['date_time'], axis=1, inplace=True)
df_merged

,id,device_id,active_power,direct_power,charge_capacity,T,U,Ff,RRR,DD_WE,DD_NS,Po(p),POA
0,19038,6,31.25,31.67,20.3,27.5,83.0,0.0,0,-1,0,996.39,441.366227
1,19039,7,35.22,35.67,19.8,27.5,83.0,0.0,0,-1,0,996.39,441.366227
2,19040,8,39.62,40.14,20.7,27.5,83.0,0.0,0,-1,0,996.39,441.366227
3,19041,9,50.39,51.03,27.2,27.5,83.0,0.0,0,-1,0,996.39,441.366227
4,19042,10,25.24,25.64,17.4,27.5,83.0,0.0,0,-1,0,996.39,441.366227
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,8.0,96.0,2.0,4,1,1,1009.88,881.804242
3841,50269,7,7.66,7.94,55.2,8.0,96.0,2.0,4,1,1,1009.88,881.804242
3842,50270,8,8.21,8.45,54.5,8.0,96.0,2.0,4,1,1,1009.88,881.804242
3843,50271,9,9.55,9.84,58.0,8.0,96.0,2.0,4,1,1,1009.88,881.804242
3844,50272,10,8.81,9.05,56.2,8.0,96.0,2.0,4,1,1,1009.88,881.804242

In [117]:
df_merged.nunique()

id                 1921
device_id             5
active_power       1586
direct_power       1539
charge_capacity    1416
T                   208
U                    72
Ff                    7
RRR                  25
DD_WE                 3
DD_NS                 3
Po(p)               160
POA                 385
dtype: int64

In [118]:
df_merged.to_csv('data/df_merged.csv')

In [123]:
df_with_date=pd.read_csv("data/df_merged_with_ir.csv")
df_with_date.drop('Unnamed: 0', axis=1, inplace=True)
df_with_date

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,DD_WE,DD_NS,Po(p),POA
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242

In [124]:
df_with_date['date_time'] = pd.to_datetime(df_with_date['date_time']).dt.floor('min')
df_with_date = df_with_date[~df_with_date['date_time'].dt.hour.isin([2, 23])]
df_with_date.to_csv('data/df_cc.csv')

In [125]:
df = df_with_date
df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,DD_WE,DD_NS,Po(p),POA
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2885 entries, 0 to 3844
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2885 non-null   int64
 1   device_id        2885 non-null   int64
 2   active_power     2885 non-null   float64
 3   direct_power     2885 non-null   float64
 4   charge_capacity  2885 non-null   float64
 5   date_time        2885 non-null   datetime64[ns]
 6   T                2885 non-null   float64
 7   U                2885 non-null   float64
 8   Ff               2885 non-null   float64
 9   RRR              2865 non-null   float64
 10  DD_WE            2885 non-null   int64
 11  DD_NS            2885 non-null   int64
 12  Po(p)            2885 non-null   float64
 13  POA              2885 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(4)
memory usage: 338.1 KB

In [127]:
df_5 = df[(df['date_time'].dt.hour.isin([5])) & (df['charge_capacity'] != 0)]
df_5

Empty DataFrame
Columns: [id, device_id, active_power, direct_power, charge_capacity, date_time, T, U, Ff, RRR, DD_WE, DD_NS, Po(p), POA]
Index: []

In [133]:
df = df.copy()
df['difference'] = df['date_time'] - df['date_time'].shift(5)
df_diff = df[(df['date_time'].dt.hour != 5) & (df['difference'] != pd.Timedelta(hours=3))]
df_diff

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,DD_WE,DD_NS,Po(p),POA,difference,cc_diff
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
925,36803,6,1.04,1.30,367.7,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.25,65 days 09:00:00,365.5
926,36804,7,0.96,1.28,371.1,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.25,65 days 09:00:00,369.0
927,36805,8,0.76,1.22,352.5,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.25,65 days 09:00:00,350.3
928,36806,9,0.87,1.27,442.2,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.25,65 days 09:00:00,440.0
929,36807,10,0.82,1.26,318.1,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.25,65 days 09:00:00,316.0

In [132]:
df = df.copy()
df['cc_diff'] = df['charge_capacity'] - df['charge_capacity'].shift(5)
df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,DD_WE,DD_NS,Po(p),POA,difference,cc_diff
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.37,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.80,0 days 03:00:00,29.8
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.80,0 days 03:00:00,29.5
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.80,0 days 03:00:00,29.4
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.80,0 days 03:00:00,31.1
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.80,0 days 03:00:00,30.2

In [131]:
df = df.copy()
df['POA'] = df['POA'].round(2)

In [134]:
columns = ['active_power', 'date_time', 'T', 'U', 'Ff', 'RRR', 'DD_WE', 'DD_NS', 'Po(p)', 'POA']
for col in columns:
    df[f'{col}_b'] = df[col].shift(5)
df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,...,active_power_b,date_time_b,T_b,U_b,Ff_b,RRR_b,DD_WE_b,DD_NS_b,Po(p)_b,POA_b
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.75,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.74,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.91,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,5.23,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.87,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15

In [135]:
df_filtered = df[df['difference'] == pd.Timedelta(hours=3)]
df_filtered

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,...,active_power_b,date_time_b,T_b,U_b,Ff_b,RRR_b,DD_WE_b,DD_NS_b,Po(p)_b,POA_b
5,19128,6,65.24,66.29,195.2,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,31.25,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
6,19129,7,72.97,74.12,196.3,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,35.22,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
7,19130,8,65.92,66.98,199.0,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,39.62,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
8,19131,9,72.45,73.67,232.2,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,50.39,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
9,19132,10,60.01,60.98,182.0,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,25.24,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.75,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.74,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.91,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,5.23,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.87,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15

In [136]:
df_diff = df_filtered[df_filtered['date_time'].dt.hour == 5]
df_diff

Empty DataFrame
Columns: [id, device_id, active_power, direct_power, charge_capacity, date_time, T, U, Ff, RRR, DD_WE, DD_NS, Po(p), POA, difference, cc_diff, active_power_b, date_time_b, T_b, U_b, Ff_b, RRR_b, DD_WE_b, DD_NS_b, Po(p)_b, POA_b]
Index: []

[0 rows x 26 columns]

In [138]:
df = df_filtered
df = df.copy()
df['cc_diff'] = df['cc_diff'].round(1)
df['hour'] = df['date_time'].dt.hour 
df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,...,date_time_b,T_b,U_b,Ff_b,RRR_b,DD_WE_b,DD_NS_b,Po(p)_b,POA_b,hour
5,19128,6,65.24,66.29,195.2,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
6,19129,7,72.97,74.12,196.3,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
7,19130,8,65.92,66.98,199.0,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
8,19131,9,72.45,73.67,232.2,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
9,19132,10,60.01,60.98,182.0,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14

In [139]:
df.isna().any()

id                 False
device_id          False
active_power       False
direct_power       False
charge_capacity    False
date_time          False
T                  False
U                  False
Ff                 False
RRR                 True
DD_WE              False
DD_NS              False
Po(p)              False
POA                False
difference         False
cc_diff            False
active_power_b     False
date_time_b        False
T_b                False
U_b                False
Ff_b               False
RRR_b              False
DD_WE_b            False
DD_NS_b            False
Po(p)_b            False
POA_b              False
hour               False
dtype: bool

In [140]:
nan_rows = df[df['RRR'].isna()]
nan_rows['id']

700     32723
701     32724
702     32725
703     32726
704     32727
2810    47178
2811    47179
2812    47180
2813    47181
2814    47182
2930    47538
2931    47539
2932    47540
2933    47541
2934    47542
3010    47778
3011    47779
3012    47780
3013    47781
3014    47782
Name: id, dtype: int64

In [142]:
# 10-01 6
# 01-27 0
# 01-30 0.5
# 02-01 0

start_index = df.index.get_loc(700)
end_index = start_index + 5
df.loc[df.index[start_index:end_index], 'RRR'] = 6

start_index = df.index.get_loc(2810)
end_index = start_index + 5
df.loc[df.index[start_index:end_index], 'RRR'] = 0

start_index = df.index.get_loc(2930)
end_index = start_index + 5
df.loc[df.index[start_index:end_index], 'RRR'] = 0.5

start_index = df.index.get_loc(3010)
end_index = start_index + 5
df.loc[df.index[start_index:end_index], 'RRR'] = 0

df.isna().any()

id                 False
device_id          False
active_power       False
direct_power       False
charge_capacity    False
date_time          False
T                  False
U                  False
Ff                 False
RRR                False
DD_WE              False
DD_NS              False
Po(p)              False
POA                False
difference         False
cc_diff            False
active_power_b     False
date_time_b        False
T_b                False
U_b                False
Ff_b               False
RRR_b              False
DD_WE_b            False
DD_NS_b            False
Po(p)_b            False
POA_b              False
hour               False
dtype: bool

In [143]:
df.to_csv('data/df_cc_init.csv')
df.to_csv('models_cc_data/df_cc_init.csv')

In [144]:
df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,...,date_time_b,T_b,U_b,Ff_b,RRR_b,DD_WE_b,DD_NS_b,Po(p)_b,POA_b,hour
5,19128,6,65.24,66.29,195.2,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
6,19129,7,72.97,74.12,196.3,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
7,19130,8,65.92,66.98,199.0,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
8,19131,9,72.45,73.67,232.2,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
9,19132,10,60.01,60.98,182.0,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15,14